{% extends 'base.html' %}
{% block content %}
  <section>
    <div class="row">
      <!-- product-1  -->
      {% for product in products %}
      <div class="col">
        <div class="card mt-3" style="width: 18rem;">
          <img src="{{ product.img }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              £ {{ product.price }}
            </p>
            <a href="{% url 'details' product.id %}" class="btn btn-primary">View More Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}